.my-grid {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  grid-template-rows: min-content minmax(0, 1fr);
  gap: 0.25rem;
  width: max-content;
  max-width: 100%;
  height: max-content;
  max-height: 50%;
}

@media (min-width: 1024px) {
  .my-grid {
    max-width: 50%;
    max-height: 100%;
  }
}

/* 
 * Comment out the following two styles to turn on the default scrollbars
 * This however introduces the alignment issue with the synced scrolling.
 */

.table-body::-webkit-scrollbar {
  display: none;
}

.table-body {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
